<app-navbar></app-navbar>
<div class="container">
  <h2 class="mb-4 text-center">Post Question</h2>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Label</label>
    <input
      type="Text"
      class="form-control"
      id="exampleFormControlInput1"
      placeholder="Title"
      name="title"
      [(ngModel)]="title"
    />
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label"
      >Question Code</label
    >
    <!-- <input
      type="select"
      class="form-control"
      id="exampleFormControlInput1"
      placeholder="Question Code"
      name="questionCode"
      [(ngModel)]="questionCode"
    /> -->
    <select
      class="form-control"
      id="exampleFormControlInput1"
      name="questionCode"
      placeholder="Question Code"
      [(ngModel)]="questionCode"
    >
      <option value="0">Programming</option>
      <option value="1">Technology</option>
      <option value="2">Gaming</option>
      <option value="3">Health</option>
      <option value="4">News</option>
      <option value="5">Other</option>
    </select>
  </div>

  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Question </label>
    <textarea
      rows="6"
      type="text"
      class="form-control"
      id="exampleFormControlInput1"
      placeholder="Write your question here..."
      name="description"
      [(ngModel)]="description"
    ></textarea>
  </div>
  <div class="mb-3">
    <button type="button" (click)="onSubmit()" class="btn btn-primary mt-4">
      Submit
    </button>
  </div>
</div>
