.searchBar {
  background: url("../../../../assets/image/search.jpg") no-repeat;

  background-size: cover;

  height: 100%;
  width: 100%;
}

.quesa {
  margin-top: 7%;
}

.errormsg {
  display: flex;
  justify-content: center;
}

.errormsg h3 {
  background-color: whitesmoke;
  color: red;
  padding-left: 15px;
  padding-right: 15px;
}

.inputdiv {
  width: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

input[type="text"] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 50px;
  box-sizing: border-box;
  text-align: center;
}

select[type="text"] {
  width: 15%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-sizing: border-box;
  text-align: center;
}
