.homeauth {
  height: 100%;
  width: 100%;
  background: #3f51b5;
}

.homeauth h1 {
  font-size: 50px;
  color: white;
}

.gs {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
